@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-draft-wysiwyg/dist/react-draft-wysiwyg.css";


:root{
--overflow: hidden visible;
--text: theme('colors.gray.900');
--textLight: theme('colors.gray.400');
--textBody: theme('colors.stone.700');
--textStrong: theme('colors.rose.700');
--textHeading: theme('colors.stone.900');
--accent: #00D2F7;/**theme('colors.blue.400');**/
--base: theme('colors.gray.200');
--background: theme('colors.slate.100');
--background2: theme('colors.white');
--post: theme('colors.slate.50');
--post2: theme('colors.slate.50');
--postHover: #FFFFFF;
--highlight: theme('colors.gray.100');
--border: theme('colors.zinc.300');
--borderHighlight: theme('colors.zinc.500');
--border2: theme('colors.gray.300');
--borderHighlight2: theme('colors.gray.400');
--green: theme('colors.green.600');
--upvote: theme('colors.orange.500');
--downvote: theme('colors.blue.400');
--red: theme('colors.red.400');
--scrollbar: #00D2F7;/**theme('colors.blue.400');**/
--link: theme('colors.blue.700');
--linkHover: theme('colors.blue.500');
--commentRibbon: theme('colors.blue.600');
--commentRibbonHover: #00D2F7;/**theme('colors.blue.400');**/
--backgroundComment: theme('colors.white');
--backgroundCommentAlternate: theme('colors.gray.100');
--toggleColor: theme('colors.gray.300');
--toggleHandleColor: theme('colors.sky.600');
}
[data-theme='dark']{
--text: theme('colors.stone.200');
--textLight: theme('colors.gray.500');
--textBody: theme('colors.stone.100');
--textStrong: theme('colors.rose.400');
--textHeading: theme('colors.stone.200');
--accent: #2C8EBB;/*theme('colors.blue.600');*/
--base: theme('colors.black');
--background: #1A1A1B;
--background2: #1A1A1B;
--post: #1A1A1B;
--post2: #212121;
--postHover: theme('colors.neutral.800');
--highlight: theme('colors.neutral.800');
--border: theme('colors.zinc.700');
--borderHighlight: theme('colors.zinc.500');
--border2: theme('colors.trueGray.700');
--borderHighlight2: theme('colors.trueGray.500');
--green: #7AFBD6;
--upvote: theme('colors.orange.500');
--downvote: theme('colors.blue.400');
--scrollbar: #2C8EBB;/*theme('colors.red.800');*/
--red: theme('colors.red.700');
--link: theme('colors.blue.400');
--linkHover: theme('colors.blue.300');
--commentRibbon: #2C8EBB; /**theme('colors.red.700');**/
--commentRibbonHover: #00D2F7;/** theme('colors.red.500');**/
--backgroundComment: #161616;
--backgroundCommentAlternate: #1A1A1B;
--toggleColor: theme('colors.gray.600');
--toggleHandleColor: theme('colors.sky.600');
}
[data-theme='abyss']{
--text: #D1D1D0;
--textLight: #005388;
--textBody: #D1D1D0;
--textStrong: #DBB37D;
--textHeading: #DBB37D;
--accent: #007ACC;
--base: #000C19;
--background: #060623;
--background2: #060623;
--post: #060623;
--post2: #060623;
--postHover: #0D192E;
--highlight: #122039;
--border: #002953;
--borderHighlight: #007CD2;
--border2: #002953;
--borderHighlight2: #122039;
--green: #00A530;
--upvote: #F67265;
--downvote: #0077FC;
--red: #ED333F;
--scrollbar: #002153;
--link: #5985CB;
--linkHover: #70A7FF;
--commentRibbon: #002153;
--commentRibbonHover: #0079FF;
--backgroundComment: #000C19;
--backgroundCommentAlternate: #060623;
--toggleColor: #1B3157;
--toggleHandleColor: #007CD2;
}
[data-theme='black']{
--text: #FFFFFF;
--textLight: #7F7F7F;
--textBody: #FFFFFF;
--textStrong: #04D2F7;
--textHeading: #FFFFFF;
--accent: #04D2F7;
--base: #000000;
--background: #000000;
--background2: #000000;
--post: #000000;
--post2: #000000;
--postHover: #000000;
--highlight: #111111;
--border: #000000;
--borderHighlight: #FFFFFF;
--border2: #000000;
--borderHighlight2: #000000;
--green: #0FFF50;
--upvote: #F75C1E;
--downvote: #04D2F7;
--red: #F31512;
--scrollbar: #04D2F7;
--link: #04D2F7;
--linkHover: #BDEEF7;
--commentRibbon: #04D2F7;
--commentRibbonHover: #BDEEF7;
--backgroundComment: #000000;
--backgroundCommentAlternate: #000000;
--toggleColor: #212121;
--toggleHandleColor: #04D2F7;
}
[data-theme='dracula']{
--text: #f8f8f2;
--textLight: #5E73A8;
--textBody: #f8f8f2;  
--textStrong: #f1fa8c;
--textHeading: #ff79c6;
--accent: #ff79c6;
--base: #21222D;
--background: #44475a;
--background2: #21222D;
--post: #282A37;
--post2: #282A37;
--postHover: #353949;
--highlight: #313342;
--border: #3A3C48;
--borderHighlight: #bd93f9;
--border2: #3A3C48;
--borderHighlight2: #545870;
--green: #50fa7b;
--upvote: #ff5555;
--downvote: #8be9fd;
--red: #ff5555;
--scrollbar: #bd93f9;
--link: #8be9fd;
--linkHover: #60DFF1;
--commentRibbon: #bd93f9;
--commentRibbonHover: #CFB2F9;
--backgroundComment: #282A37;
--backgroundCommentAlternate: #21222D;
--toggleColor: #545870;
--toggleHandleColor: #bd93f9;
}
[data-theme='nord']{
--text: #ECEFF4;
--textLight: #979DA9;
--textBody: #DBDFE5;
--textStrong: #8FBCBB;
--textHeading: #88C0D0;
--accent: #8FBCBB;
--base: #2E3440;
--background: #434C5E;
--background2: #434C5E;
--post: #434C5E;
--post2: #434C5E;
--postHover: #3B4252;
--highlight: #3B4252;
--border: #54617B;
--borderHighlight: #8FBCBB;
--border2: #4C566A;
--borderHighlight2: #4C566A;
--green: #8fbcbb;
--upvote: #bf616a;
--downvote: #5e81ac;
--scrollbar: #8FBCBB;
--red: #EA435F;
--link: #82BEBC;
--linkHover: #0E9792;
--commentRibbon: #8FBCBB;
--commentRibbonHover: #0E9792;
--backgroundComment: #3B4252;
--backgroundCommentAlternate: #434C5E;
--toggleColor: #596888;
--toggleHandleColor: #8FBCBB;
}
[data-theme='ocean']{
--text: #CCCCCC;
--textLight: #454B5F;
--textBody: #CCCCCC;
--textStrong: #65CDC4;
--textHeading: #77ABFF;
--accent: #65CDC4;
--base: #0F111B;
--background: #0F111B;
--background2: #0F111B;
--post: #0F111B;
--post2: #0F111B;
--postHover: #0A0C13;
--highlight: #0C0E16;
--border: #212634;
--borderHighlight: #65CDC4;
--border2: #212634;
--borderHighlight2: #1B1F2B;
--green: #B9E981;
--upvote: #FF7769;
--downvote: #77ABFF;
--red: #FF96AB;
--scrollbar: #65CDC4;
--link: #6AE0FF;
--linkHover: #CBF4FF;
--commentRibbon: #65CDC4;
--commentRibbonHover: #B6CDCB;
--backgroundComment: #0C0E16;
--backgroundCommentAlternate: #0F111B;
--toggleColor: #313851;
--toggleHandleColor: #65CDC4;
}
[data-theme='palenight']{
--text: #B6C0CF;
--textLight: #666F9A;
--textBody: #B6C0CF;
--textStrong: #8555C8;
--textHeading: #77ABFF;
--accent: #8555C8;
--base: #23283A;
--background: #24293B;
--background2: #24293B;
--post: #282D3F;
--post2: #282D3F;
--postHover: #2F3449;
--highlight: #202433;
--border: #2D3244;
--borderHighlight: #8555C8;
--border2: #2D3244;
--borderHighlight2: #2D3244;
--green: #6AE0FF;
--upvote: #FF7769;
--downvote: #72A5FC;
--red: #E86D65;
--scrollbar: #8555C8;
--link: #A679E4;
--linkHover: #AB93CB;
--commentRibbon: #8555C8;
--commentRibbonHover: #A679E4;
--backgroundComment: #24293B;
--backgroundCommentAlternate: #282D3F;
--toggleColor: #313851;
--toggleHandleColor: #8555C8;
}

:root {
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  scrollbar-width: thin;
}
html, body {
    max-width: 100%;
    overflow: var(--overflow);
}
/*input box*/
.react-autosuggest__input {
  @apply bg-transparent;
}
.react-autosuggest__input--focused {
  @apply outline-none;
}
/*suggestions container*/
.react-autosuggest__container {
  @apply flex flex-col items-center w-full border rounded-lg border-th-border focus-within:border-th-borderHighlight hover:border-th-borderHighlight ;
}

.react-autosuggest__input {
  @apply flex-none w-full h-full px-2 text-sm  outline-none text-th-textLight;
}

.react-autosuggest__input--focused {
  @apply  shadow-lg text-th-text border-th-borderHighlight ;
}

.react-autosuggest__input--open {
  @apply  text-th-text;
}

.react-autosuggest__suggestions-container--open {
  @apply flex flex-col items-center w-full mt-1 bg-th-background2 text-th-text  border rounded-lg border-th-border py-1.5 ring-1 ring-th-base z-[99];
}
.react-autosuggest__suggestions-list {
  @apply w-full overflow-auto list-none;
}
.react-autosuggest__suggestion--highlighted {
  @apply  bg-th-highlight;
}

#innerhtml a {
  @apply text-th-link hover:text-th-linkHover hover:underline;
}
#innerhtml p {
}
#innerhtml .md-spoiler-text {
  @apply text-transparent hover:text-th-text bg-th-border hover:bg-transparent p-0.5 rounded-md;
}

.react-markdown a {
  @apply text-th-link hover:text-th-linkHover hover:underline;
}
