@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-draft-wysiwyg/dist/react-draft-wysiwyg.css";


:root{
--text: theme('colors.gray.900');
--textLight: theme('colors.gray.400');
--textBody: theme('colors.stone.700');
--textStrong: theme('colors.rose.700');
--textHeading: theme('colors.stone.900');
--accent: theme('colors.blue.400');
--base: theme('colors.gray.200');
--background: theme('colors.slate.100');
--background2: theme('colors.white');
--post: theme('colors.slate.50');
--post2: theme('colors.slate.50');
--postHover: #FFFFFF;
--highlight: theme('colors.gray.100');
--border: theme('colors.zinc.300');
--borderHighlight: theme('colors.zinc.500');
--border2: theme('colors.gray.300');
--borderHighlight2: theme('colors.gray.400');
--green: theme('colors.green.600');
--upvote: theme('colors.orange.500');
--downvote: theme('colors.blue.400');
--red: theme('colors.red.400');
--scrollbar: theme('colors.blue.400');
--link: theme('colors.blue.700');
--linkHover: theme('colors.blue.500');
--commentRibbon: theme('colors.blue.600');
--commentRibbonHover: theme('colors.blue.800');
--backgroundComment: theme('colors.white');
--backgroundCommentAlternate: theme('colors.gray.100');
--toggleColor: theme('colors.gray.300');
--toggleHandleColor: theme('colors.sky.600');
}
[data-theme='dark']{
--text: theme('colors.stone.200');
--textLight: theme('colors.gray.500');
--textBody: theme('colors.stone.100');
--textStrong: theme('colors.rose.400');
--textHeading: theme('colors.stone.200');
--accent: theme('colors.blue.600');
--base: theme('colors.black');
--background: #1A1A1B;
--background2: #1A1A1B;
--post: #1A1A1B;
--post2: #212121;
--postHover: theme('colors.neutral.800');
--highlight: theme('colors.neutral.800');
--border: theme('colors.zinc.700');
--borderHighlight: theme('colors.zinc.500');
--border2: theme('colors.trueGray.700');
--borderHighlight2: theme('colors.trueGray.500');
--green: #7AFBD6;
--upvote: theme('colors.orange.500');
--downvote: theme('colors.blue.400');
--scrollbar: theme('colors.red.800');
--red: theme('colors.red.700');
--link: theme('colors.blue.400');
--linkHover: theme('colors.blue.300');
--commentRibbon: theme('colors.red.700');
--commentRibbonHover: theme('colors.red.600');
--backgroundComment: #161616;
--backgroundCommentAlternate: #1A1A1B;
--toggleColor: theme('colors.gray.600');
--toggleHandleColor: theme('colors.sky.600');
}
[data-theme='black']{
--text: #FFFFFF;
--textLight: #7F7F7F;
--textBody: #FFFFFF;
--textStrong: #FFFFFF;
--textHeading: #FFFFFF;
--accent: #04D2F7;
--base: #000000;
--background: #000000;
--background2: #000000;
--post: #000000;
--post2: #000000;
--postHover: #000000;
--highlight: #1F1F1F;
--border: #000000;
--borderHighlight: #FFFFFF;
--border2: #000000;
--borderHighlight2: #FFFFFF;
--green: #0FFF50;
--upvote: #F75C1E;
--downvote: #04D2F7;
--red: #F31512;
--scrollbar: #04D2F7;
--link: #04D2F7;
--linkHover: #BDEEF7;
--commentRibbon: #04D2F7;
--commentRibbonHover: #BDEEF7;
--backgroundComment: #000000;
--backgroundCommentAlternate: #000000;
--toggleColor: #000000;
--toggleHandleColor: #04D2F7;
}
[data-theme='nord']{
--text: #ECEFF4;
--textLight: #979DA9;
--textBody: #DBDFE5;
--textStrong: #DBDFE5;
--textHeading: #DBDFE5;
--accent: #8FBCBB;
--base: #2E3440;
--background: #434C5E;
--background2: #434C5E;
--post: #434C5E;
--post2: #434C5E;
--postHover: #3B4252;
--highlight: #3B4252;
--border: #54617B;
--borderHighlight: #60739A;
--border2: #4C566A;
--borderHighlight2: #4C566A;
--green: #8fbcbb;
--upvote: #bf616a;
--downvote: #5e81ac;
--scrollbar: #8FBCBB;
--red: #EA435F;
--link: #82BEBC;
--linkHover: #0E9792;
--commentRibbon: #8FBCBB;
--commentRibbonHover: #0E9792;
--backgroundComment: #3B4252;
--backgroundCommentAlternate: #434C5E;
--toggleColor: #596888;
--toggleHandleColor: #8FBCBB;
}

:root {
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  scrollbar-width: thin;
}



/*input box*/
.react-autosuggest__input {
  @apply bg-transparent;
}
.react-autosuggest__input--focused {
  @apply outline-none;
}
/*suggestions container*/
.react-autosuggest__container {
  @apply flex flex-col items-center w-full border rounded-lg border-th-border focus-within:border-th-borderHighlight hover:border-th-borderHighlight ;
}

.react-autosuggest__input {
  @apply flex-none w-full h-full px-2 text-sm  outline-none text-th-textLight;
}

.react-autosuggest__input--focused {
  @apply  shadow-lg text-th-text border-th-borderHighlight ;
}

.react-autosuggest__input--open {
  @apply  text-th-text;
}

.react-autosuggest__suggestions-container--open {
  @apply flex flex-col items-center w-full mt-1 bg-th-background2 text-th-text  border rounded-lg border-th-border py-1.5 ring-1 ring-th-base;
}
.react-autosuggest__suggestions-list {
  @apply w-full overflow-auto list-none;
}
.react-autosuggest__suggestion--highlighted {
  @apply  bg-th-highlight;
}

#innerhtml a {
  @apply text-th-link hover:text-th-linkHover hover:underline;
}
#innerhtml p {
}
#innerhtml .md-spoiler-text {
  @apply text-transparent hover:text-th-text bg-th-border hover:bg-transparent p-0.5 rounded-md;
}

.react-markdown a {
  @apply text-th-link hover:text-th-linkHover hover:underline;
}
